{% load static %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3 Butonlu Template</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
    <div class="layer"> </div>  
    <div class="container">
        <button id="button1" class="btn">Müşteri Çağrı Listesi Menüsü</button>
        <button id="button2" class="btn">Asistan Aylık Prim Listesi Menüsü</button>
        <button id="button3" class="btn">İtirazlarım</button>
    </div>
    <div id="message" class="message"></div>
    <script src="{% static "assets/js/musteri_temsilcisi/home.js" %}"></script>
</body>
</html>
