{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Müşteri Temsilcisi Prim İtirazları</title>
    <script src="{% static 'assets/js/musteri_temsilcisi/primelere_yapilan_itirazlar.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'assets/css/musteri_temsilcisi/itirazm.css' %}">
</head>
<body>
    <div class="layer"></div>
    <h1>Müşteri Temsilcisi Prim İtirazları</h1>
    <table>
        <thead>
            <tr>
                <th>Prim Miktari</th>
                <th>Prim Yılı</th>
                <th>Prim Ayı</th>
                <th>İtiraz Açıklama</th>
                <th>İtiraz Durum</th>
                <th>İtiraz Cevap</th>
            </tr>
        </thead>
        <tbody id="primler-listesi">
            {% for prim in context %}
                <tr>
                    <td>{{ prim.PRIM_MIKTARI }}</td>
                    <td>{{ prim.PRIM_YIL }}</td>
                    <td>{{ prim.PRIM_AY }}</td>
                    <td>{{ prim.ITIRAZ_ACIKLAMA }}</td>
                    <td>{{ prim.ITIRAZ_DURUM }}</td>
                    <td>{{ prim.ITIRAZ_CEVAP }}</td>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
