{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Müşteri Temsilcisi Prim İtirazları</title>
    <script src="{% static 'assets/js/musteri_temsilcisi/prim_listesi_menusu.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'assets/css/itiraz.css' %}">
</head>
<body>
    <div class="layer"></div>
    <h1>Müşteri Temsilcisi Prim İtirazları</h1>
    <table>
        <thead>
            <tr>
                <th>Prim Miktari</th>
                <th>Prim Yılı</th>
                <th>Prim Ayı</th>
                <th>İtiraz Açıklama</th>
                <th>İtiraz Durum</th>
                <th>İtiraz Cevap</th>
                <th>Itıraz Button</th>
            </tr>
        </thead>
        <tbody id="primler-listesi">
            {% for prim in context %}
                <tr>
                    <td>{{ prim.PRIM_MIKTARI }}</td>
                    <td>{{ prim.PRIM_YIL }}</td>
                    <td>{{ prim.PRIM_AY }}</td>
                    <td>{{ prim.ITIRAZ_ACIKLAMA }}</td>
                    <td>{{ prim.ITIRAZ_DURUM }}</td>
                    <td>{{ prim.ITIRAZ_CEVAP }}</td>
                    <td><button type="button" class="itiraz-button" data-id="{{ prim.id }}">İtiraz Aç</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pop-up Modal -->
    <div id="itirazModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>İtiraz Açıklaması Giriniz</h2>
            <textarea id="itirazAciklama" rows="4" cols="50"></textarea>
            <button id="submitItiraz" type="button">Gönder</button>
        </div>
    </div>
</body>
</html>
